* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    --element-color: #3a4be7;
    --color-active: #000000;
    --background-color: #e2e2d38a;
    --underline-color: #adabab7e;
    --active-link: #afafaf;
}

main {
    display: flex;
    justify-content: center;
    padding: 10% 0;
}

.wrapper {
    height: 100%;
    padding: 0 20%;
    padding-bottom: 0;
}

.bayan {
    width: 100%;
    color: var(--color-active);
}

.bayan__header {
    font-size: 1.4em;
    font-weight: 800;
    margin-bottom: 0.3em;
}

.item__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.3em 0;
    padding: 0 0.6em;
    font-size: 1.1em;
    font-weight: 800;
    transition: color 0.3s ease-in-out;
}

.item__content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 0;
    transition: max-height 0.6s ease-in-out;
}

.content__img {
    max-height: 70%;
    width: 70%;
    margin-bottom: 0.8em;
}

.header__input {
    display: none;
}

.header__text {
    width: 100%;
}

.fa-solid {
    align-self: center;
    transition: 0.3s;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 20%;
    font-size: 1.2em;
    background-color: var(--color-active);
}

.footer__year {
    margin-bottom: 0.2em;
    color: white;
    text-align: center;
    font-size: 0.8em;
}

.footer a {
    margin-bottom: 0.2em;
    color: white;
    text-decoration: none;
    align-self: center;
    transition: color 0.5s ease-in-out;
}

.footer__socials {
    font-size: 1.3em;
}

.underline {
    width: 100%;
    height: 2px;
    background-color:var(--underline-color);
}

.header__input:checked ~.item__content{
    max-height: 40vh;
    animation: 0.65s 1 chose ease-in-out;
}

.header__input:checked ~.item__header {
    color: var(--color-active);
    animation: 0.65s 1 chose ease-in-out;
}

.header__input:checked +.item__header .fa-solid {
    transform: rotate(45deg);
}

@media(min-width: 820px) {

    main {
        padding: 2% 0;
    }

    .wrapper {
        padding: 0 25%;
    }

    .bayan__header {
        font-size: 2.2em;
        font-weight: 900;
    }

    .bayan:hover .bayan__item {
        color: var(--element-color);
    }

    .item__header {
        font-size: 1.4em;
    }

    .content__img {
        max-height: 30%;
        width: 30%;
    }

    .bayan__item:hover {
        cursor: pointer;
    }
    
    .bayan__item:hover .fa-solid {
        transform: rotate(45deg);
    }

    .bayan__item:hover .item__content{
        max-height: 40vh;
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5% 25%;
        font-size: 1.2em;
        background-color: var(--color-active)
    }

    .footer__socials {
        font-size: 1.5em;
    }

    .footer a:hover {
        color: var(--active-link);
    }
}

@keyframes chose {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}